.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99.8%;
    margin: 0.2%;
    height: 70px;
    gap: 5px;

    background-color: var(--color-surface);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 110px;
    height: 54px;
    background-color: var(--text-body);
    margin-left: 5px;
    border-radius: 5px;
}

.search-container {
    flex: 1 0 40%;
    min-width: 300px;
}

.language-selector-container,
.header-register-container,
.cesta-container {
    display: flex;
    align-items: center;
    height: 80%;
}