.logo-container {
    flex: 0 0 10%;
    max-width: 150px;
    cursor: pointer;
}

.logo {
    background-color: var(--text-primary);
    width: 100px;
    height: 60px;
}

.search-container {
    flex: 1 0 60%;
    min-width: 400px;
}

.language-selector-container,
.header-register-container,
.cesta-container {
    display: flex;
    align-items: center;
    height: 80%;
}