.menu-dropdown {
    position: fixed; 
    top: 65px; 
    left: 0;
    z-index: 1000;
    background-color: transparent;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    height: calc(100vh - 65px - 80px);
    box-sizing: border-box;
}

.menu-dropdown.show {
    transform: translateX(0);
}


.menu-dropdown.closing {
    transform: translateX(-100%);
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-tertiary);
    color: var(--text-body);
    padding: 10px 12px;
}

.menu-title {
    font-weight: var(--font-weight-bold);
}

.menu-close {
    background: none;
    border: none;
    color: var(--text-body);
    font-size: var(--font-size-md);
    cursor: pointer;
}

.menu-content {
    padding: 12px;
    background-color: var(--color-primary);
    color: var(--text-body);
    overflow-y: auto;
    height: calc(100% - 24px);
    box-sizing: border-box;
}

.menu-cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
}