:root {
    /* Colores 
    --primary-color: #3D89CF; 
    --secondary-color: #CF3D3D;
    --terciary-color: #244D73;

    --background-color: #0A0A14;

    --text-primary-color: #BDBDBD;
    --text-secondary-color: #666666;
    --text-disabled: #212121;
    --text-link-color: #1E88E5;
    --text-error-color: #D32F2F;
    --text-header-color: #D9D9D9;
    --text-body-color: #D9D9D9;

    --text-gray-escale1: #5F5F5F;
    --text-gray-escale2: #BABABA;
    */
    /* Tipografía 
    --font-family: 'Roboto Flex', sans-serif;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    */
  }