.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--modal-backdrop);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--color-background);
  padding: 11px 24px 24px 24px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 0px 20px var(--modal-shadow);
}

.auth-modal-title {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.auth-modal-close-button-container {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 20px;
}