.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--modal-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--background-color);
  padding: 11px 24px 24px 24px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 0px 20px var(--modal-background-box-shadow-color);
}

.auth-modal-title {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.auth-modal-title.fade-out {
  opacity: 0;
}

.auth-modal-input-wrapper-container {
  width: 100%;
  border: 2px solid var(--text-gray-escale1);
  border-radius: 0px 0px 8px 8px;
}

.auth-modal-input-wrapper {
  padding: 15px;
}

.auth-modal-close-button-container {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 20px;
}

.auth-modal-name-surname-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.auth-model-submit-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  padding: 10px;
  gap: 10px;
}